.card-slider-info {
  width: 470px;
  color: #fff;
  margin-bottom: 40px;
  &__imdb {
    color: black;
    background: #F5C51C;
    font-size: 14px;
    padding: 5px;
    font-weight: bold;
    border-radius: 4px;
  }
}