.card-slider-info {
  max-width: 470px;
  width: 100%;
  color: #fff;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media screen and (max-width: 425px) {
    gap: 15px;
    margin-top: 40px;
  }
  &__imdb {
    display: flex;
    align-items: center;
    gap: 8px;
    &__logo {
      color: black;
      background: #F5C51C;
      font-size: 14px;
      padding: 5px;
      font-weight: bold;
      border-radius: 4px;
    }
    &__vote {
      font-weight: 500;
      &-count {
        opacity: 40%;
      }
    }
  }
  &__description {
    font-size: 16px;
    line-height: 160%;
  }
}