.header {
  padding: 40px 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
  }
  &__logo {
    &__link {
      text-transform: uppercase;
      display: flex;
      align-items: center;
      gap: 8px;
      span {
        font-weight: bold;
        font-size: 20px;
        &:nth-child(1) {
          color: #000;
          background: #F5C51C;
          padding: 8px;
          border-radius: 4px;
        }
        &:nth-child(2) {
          color: #F5C51C;
        }
      }
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    gap: 64px;
    &__link {
      color: #fff;
      font-size: 18px;
    }
  }
}