.header {
  padding: 40px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    &__link {
      text-transform: uppercase;
      display: flex;
      align-items: center;
      gap: 8px;
      span {
        font-weight: bold;
        font-size: 20px;
        &:nth-child(1) {
          color: #000;
          background: #F5C51C;
          padding: 8px;
          border-radius: 4px;
        }
        &:nth-child(2) {
          color: #F5C51C;
        }
      }
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    gap: 64px;
    @media screen and (max-width: 768px) {
      display: none;
    }
    &__link {
      color: #fff;
      font-size: 18px;
    }
  }
  &__burger {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
    }
  }
}