* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
  min-height: 100vh;
}

.container {
  max-width: 1600px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.home-page__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-bottom: 30px;
}

.imdb {
  color: black;
  background: #F5C51C;
  font-size: 14px;
  padding: 5px;
  font-weight: bold;
  border-radius: 4px;
}